body {
    background-color: #5C4E4E;
    color: #D1D0D0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.btn-outline-primary {
    color: #D1D0D0;
    border: 1px solid #D1D0D0;
}

.btn-outline-primary:hover {
    background-color: #988686;
    border: 1px solid #D1D0D0;

}

.coffee:hover {

    background-color: #988686;
    color: #5C4E4E;
    border-radius: 4px;
}

#image-left {
    border-radius: 5px 50px 50px 5px;
}